<?xml version="1.0" encoding="UTF-8"?>
<suite name="Suite">
	<listeners>
		<listener class-name="utilities.ExtentReportManager" />
	</listeners>
  <test name="Test">
    <classes>
       <class name="testCases.LoginPageTest"/>
     <!-- <class name="testCases.ContactsPageTest"/>--> 
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
